<div class="bootcards-cards">
  <div class="col-sm-6">
    <div class="panel panel-default bootcards-summary">
      <div class="panel-heading">
        <h3 class="panel-title">Nix Summary</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6 col-sm-4">
            <a class="bootcards-summary-item" ui-sref="departments">
              <i class="fa fa-3x fa-building-o"></i>
              <h4>{{departments.count}} <span><ng-pluralize count="departments.count" when="{'1': 'Department', 'other': 'Departments'}"></ng-pluralize></span></h4>
            </a>
          </div>
          <div class="col-xs-6 col-sm-4">
            <a class="bootcards-summary-item" ui-sref="groups">
              <i class="fa fa-3x fa-building-o"></i>
              <h4>{{groups.count}} <span><ng-pluralize count="groups.count" when="{'1': 'Group', 'other': 'Groups'}"></ng-pluralize></span></h4>
            </a>
          </div>
          <div class="col-xs-6 col-sm-4">
            <a class="bootcards-summary-item" ui-sref="contacts">
              <i class="fa fa-3x fa-users"></i>
              <h4>{{contacts.count}} <span><ng-pluralize count="contacts.count" when="{'1': 'Contact', 'other': 'Contacts'}"></ng-pluralize></span></h4>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default bootcards-chart">
      <div class="panel-heading">
        <h3 class="panel-title">Chart Card Heading</h3>
      </div>
      <div class="bootcards-chart-canvas"></div>
    </div>
  </div>
</div>
