<div class="row">
  <div class="col-sm-5 bootcards-list" id="list">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="search-form">
          <div class="row">
            <div class="col-xs-9">
              <div class="form-group">
                <input type="text" class="form-control" ng-model="searchText" placeholder="Search Contacts...">
                <i class="fa fa-search"></i>
              </div>
            </div>
            <div class="col-xs-3">
              <a class="btn btn-primary btn-block" href="/contacts/add" data-toggle="modal" data-target="#editModal">
                <i class="fa fa-plus"></i>
                <span>Add</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="list-group">
        <a class="list-group-item" ui-sref-active="active" ui-sref="contacts.detail({id: item.id})" ng-repeat="item in items | filter:searchText">
          <img src="http://bootcards.herokuapp.com/images/Sofia%20Acey.jpg" class="img-rounded pull-left">
          <h4 class="list-group-item-heading">{{item.fullName}}</h4>
          <p class="list-group-item-text">Developer</p>
        </a>
      </div>
    </div>
  </div>
  <div class="col-sm-7 bootcards-cards hidden-xs" id="listDetails">
    <div ui-view></div>
  </div>
</div>
