<div id="contactCard">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h3 class="panel-title pull-left">Contact Details</h3>
      <div class="btn-group pull-right visible-xs">
        <a class="btn btn-primary" href="/contacts/sH5PxrdzkZ3T/edit" data-toggle="modal" data-target="#editModal">
          <i class="fa fa-pencil"></i>
          <span>Edit</span>
        </a>
      </div>
      <a class="btn btn-primary pull-right hidden-xs" href="/contacts/sH5PxrdzkZ3T/edit" data-toggle="modal" data-target="#editModal">
        <i class="fa fa-pencil"></i>
        <span>Edit</span>
      </a>
    </div>
    <div class="list-group">
      <div class="list-group-item">
        <img src="http://bootcards.herokuapp.com/images/Joseph%20Barish.jpg" class="img-rounded pull-left">
        <label>Name</label>
        <h4 class="list-group-item-heading">{{item.fullName}}</h4>
      </div>
      <div class="list-group-item">
        <label>Group</label>
        <h4 class="list-group-item-heading">House Group</h4>
      </div>
      <div class="list-group-item">
        <label>Department</label>
        <h4 class="list-group-item-heading">PHP</h4>
      </div>
      <div class="list-group-item">
        <label>Chief</label>
        <h4 class="list-group-item-heading">Nikolay Galkin</h4>
      </div>
      <div class="list-group-item">
        <label>Location</label>
        <h4 class="list-group-item-heading">807</h4>
      </div>
      <div class="list-group-item">
        <label>Job Title</label>
        <h4 class="list-group-item-heading">Developer</h4>
      </div>
      <a class="list-group-item" href="tel://+1 650-555-0029">
        <label>Phone</label>
        <h4 class="list-group-item-heading">095 884 75 32</h4>
      </a>
      <a class="list-group-item" href="mailto:{{item.email}}">
        <label>Email</label>
        <h4 class="list-group-item-heading">{{item.email}}</h4>
      </a>
      <a class="list-group-item" href="mailto:galkin@nixsolutions.com">
        <label>Sype</label>
        <h4 class="list-group-item-heading">galkin_nikolay</h4>
      </a>
    </div>
  </div>
</div>
