<div class="row">
  <div class="col-sm-6 bootcards-list" id="list">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="search-form">
          <div class="row">
            <div class="col-xs-9">
              <div class="form-group">
                <input type="text" class="form-control" ng-model="searchText" placeholder="Search Group...">
                <i class="fa fa-search"></i>
              </div>
            </div>
            <div class="col-xs-3">
              <a class="btn btn-primary btn-block" ng-click="open()">
                <i class="fa fa-plus"></i>
                <span>Add</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="list-group">
        <a class="list-group-item" ui-sref-active="active" ng-repeat="item in items | filter:searchText" ui-sref="groups.detail({id: item.id})">
          <div class="row">
            <div class="col-sm-6">
              <i class="fa fa-3x fa-building-o pull-left"></i>
              <h4 class="list-group-item-heading">{{item.name}}</h4>
              <p class="list-group-item-text">{{item.department.name}}, 14 contacts</p>
            </div>
            <div class="col-sm-6">
              <p class="list-group-item-text">{{item.groupLead}} Nikolay Galkin</p>
              <p class="list-group-item-text">807</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 bootcards-cards">
    <div ui-view></div>
  </div>
</div>
