<form class="form-horizontal" ng-submit="submit()">
  <div class="modal-header">
    <div class="btn-group pull-left">
      <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
    </div>
    <div class="btn-group pull-right">
      <button type="submit" class="btn btn-success">Save</button>
    </div>
    <h3 class="modal-title">New Group</h3>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label class="col-xs-3 control-label">Name</label>
      <div class="col-xs-9">
        <input type="text" name="name" ng-model="item.name" class="form-control" placeholder="Group">
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 control-label">Department</label>
      <div class="col-xs-9">
        <select name="teamLead" ng-model="item.departmentId" class="form-control">
          <option value="" selected="">Select...</option>
          <option value="{{department.id}}" ng-repeat="department in departments">{{department.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 control-label">Group Lead</label>
      <div class="col-xs-9">
        <select name="teamLead" ng-model="item.groupLead" class="form-control">
          <option value="" selected="">Select...</option>
          <option value="1">Nikolay Galkin</option>
          <option value="2">Bogdan Orekhovskiy</option>
        </select>
      </div>
    </div>
  </div>
</form>
