<div id="details">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h3 class="panel-title pull-left">Group Details</h3>
      <div class="btn-group pull-right visible-xs">
        <a class="btn btn-primary" href="">
          <i class="fa fa-pencil"></i>
          <span>Edit</span>
        </a>
      </div>
      <a class="btn btn-primary pull-right hidden-xs" href="">
        <i class="fa fa-pencil"></i>
        <span>Edit</span>
      </a>
    </div>
    <div class="list-group">
      <div class="list-group-item">
        <i class="fa fa-2x fa-building-o pull-left"></i>
        <label>Name</label>
        <h4 class="list-group-item-heading">{{item.name}} Group</h4>
      </div>
      <div class="list-group-item">
        <label>Group Lead</label>
        <h4 class="list-group-item-heading">{{item.groupLead}}Nikolay Galkin</h4>
      </div>
      <a class="list-group-item" ui-sref="departments.detail({id: item.department.id})">
        <p class="list-group-item-text">Department</p>
        <h4 class="list-group-item-heading">{{item.department.name || 'None'}}</h4>
      </a>
      <div class="list-group-item">
        <label>Contain</label>
        <h4 class="list-group-item-heading">14 contacts</h4>
      </div>
      <div class="list-group-item">
        <label>Location</label>
        <h4 class="list-group-item-heading">807</h4>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h3 class="panel-title pull-left">Contacts</h3>
    </div>
    <div class="list-group">
      <a class="list-group-item" href="/contacts/Zum5QaksnT38">
        <img src="http://bootcards.herokuapp.com/images/Mark%20Booth.jpg" class="img-rounded pull-left"/>
        <h4 class="list-group-item-heading">Nikolay Galkin</h4>
        <p class="list-group-item-text">Group Lead</p>
      </a>
      <a class="list-group-item" href="/contacts/Zum5QaksnT38">
        <img src="http://bootcards.herokuapp.com/images/Wayne%20Sherman.jpg" class="img-rounded pull-left"/>
        <h4 class="list-group-item-heading">Ivan Nosov</h4>
        <p class="list-group-item-text">Developer</p>
      </a>
      <a class="list-group-item" href="/contacts/ftBZ9u64tAgq">
        <img src="http://bootcards.herokuapp.com/images/Evelyn%20Dwyer.jpg" class="img-rounded pull-left"/>
        <h4 class="list-group-item-heading">Svetlana Savchenko</h4>
        <p class="list-group-item-text">Developer</p>
      </a>
    </div>
  </div>
</div>
