<div class="row">
  <div class="col-sm-6 bootcards-list" id="list">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="search-form">
          <div class="row">
            <div class="col-xs-9">
              <div class="form-group">
                <input type="text" class="form-control" ng-model="searchText" placeholder="Search Departments...">
                <i class="fa fa-search"></i>
              </div>
            </div>
            <div class="col-xs-3">
              <a class="btn btn-primary btn-block" ui-sref="departments.add()">
                <i class="fa fa-plus"></i>
                <span>Add</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="list-group">
        <a class="list-group-item" ui-sref-active="active" ng-repeat="item in ListCtrl.items | filter:searchText" ui-sref="departments.view({id: item.id})">
          <div class="row">
            <div class="col-sm-6">
              <i class="fa fa-3x fa-building-o pull-left"></i>
              <h4 class="list-group-item-heading">{{item.name}}</h4>
              <p class="list-group-item-text">
                <ng-pluralize
                  count="item.groups.length"
                  when="{'1': '{} group', 'other': '{} groups'}">
                </ng-pluralize>, 72 contacts
              </p>
            </div>
            <div class="col-sm-6">
              <p class="list-group-item-text">{{item.teamLead.fullName}}</p>
              <p class="list-group-item-text">k805, k807, k801, k802</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 bootcards-cards">
    <div ui-view></div>
  </div>
</div>
