<div class="panel panel-default">
  <form class="form-horizontal" ng-submit="AddCtrl.submit()">
    <div class="panel-heading clearfix">
      <div class="btn-group pull-left">
        <a class="btn btn-danger" ng-click="AddCtrl.cancel()">Cancel</a>
      </div>
      <div class="btn-group pull-right">
        <button type="submit" class="btn btn-success">Save</button>
      </div>
      <h3 class="modal-title">New Department</h3>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label class="col-xs-3 control-label">Name</label>
        <div class="col-xs-9">
          <input type="text" name="name" ng-model="AddCtrl.item.name" class="form-control" placeholder="Department">
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-3 control-label">Team Lead</label>
        <div class="col-xs-9">
          <select ng-model="AddCtrl.item.teamleadId" class="form-control" ng-options="contact.id as contact.fullName for contact in AddCtrl.contacts"></select>
        </div>
      </div>
    </div>
  </form>
</div>
