<div class="panel panel-default">
  <form class="form-horizontal" ng-submit="RemoveCtrl.submit()">
    <div class="panel-heading clearfix">
      <div class="btn-group pull-left">
        <a class="btn btn-danger" ng-click="RemoveCtrl.cancel()">Cancel</a>
      </div>
      <div class="btn-group pull-right">
        <button type="submit" class="btn btn-success">Remove</button>
      </div>
      <h3 class="modal-title">Are you sure?</h3>
    </div>
    <div class="panel-body">
      <span>Remove Department: <strong>{{RemoveCtrl.item.name}}</strong> ?</span>
    </div>
  </form>
</div>
