<div id="details">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h3 class="panel-title pull-left">Department Details</h3>

      <div class="btn-group pull-right visible-xs">
        <a class="btn btn-primary" ui-sref="departments.edit(ViewCtrl.item)">
          <i class="fa fa-pencil"></i>
          <span>Edit</span>
        </a>
        <a class="btn btn-danger" ui-sref="departments.remove(ViewCtrl.item)">
          <i class="fa fa-pencil"></i>
          <span>Remove</span>
        </a>
      </div>
      <div class="btn-group pull-right hidden-xs">
        <a class="btn btn-primary" ui-sref="departments.edit(ViewCtrl.item)">
          <i class="fa fa-pencil"></i>
          <span>Edit</span>
        </a>
        <a class="btn btn-danger" ui-sref="departments.remove(ViewCtrl.item)">
          <i class="fa fa-pencil"></i>
          <span>Remove</span>
        </a>
      </div>
    </div>
    <div class="list-group">
      <div class="list-group-item">
        <i class="fa fa-2x fa-building-o pull-left"></i>
        <label>Name</label>
        <h4 class="list-group-item-heading">{{ViewCtrl.item.name}}</h4>
      </div>
      <div class="list-group-item">
        <label>Team Lead</label>
        <h4 class="list-group-item-heading">{{ViewCtrl.item.teamLead.fullName}}</h4>
      </div>
      <div class="list-group-item">
        <label>Contain</label>
        <h4 class="list-group-item-heading">
          <ng-pluralize
            count="ViewCtrl.item.groups.length"
            when="{'1': '{} group', 'other': '{} groups'}">
          </ng-pluralize>, 72 contacts
        </h4>
      </div>
      <div class="list-group-item">
        <label>Location</label>
        <h4 class="list-group-item-heading">801, 802, 805, 807</h4>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h3 class="panel-title pull-left">Groups</h3>

      <div class="btn-group pull-right">
        <a class="btn btn-primary">
          <i class="fa fa-plus"></i>
          <span>Add</span>
        </a>
      </div>
    </div>
    <div class="list-group">
      <a class="list-group-item" ng-repeat="group in ViewCtrl.item.groups" ui-sref="groups.detail({id: group.id})">
        <h4 class="list-group-item-heading">{{group.name}}</h4>
        <p class="list-group-item-text">23 contacts</p>
      </a>
    </div>
  </div>
</div>
<div>
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h3 class="panel-title pull-left">Contacts</h3>
    </div>
    <div class="list-group">
      <a class="list-group-item" href="/contacts/Zum5QaksnT38">
        <img src="http://bootcards.herokuapp.com/images/Mark%20Booth.jpg" class="img-rounded pull-left"/>
        <h4 class="list-group-item-heading">Nikolay Galkin</h4>

        <p class="list-group-item-text">Group Lead</p>
      </a>
      <a class="list-group-item" href="/contacts/Zum5QaksnT38">
        <img src="http://bootcards.herokuapp.com/images/Wayne%20Sherman.jpg" class="img-rounded pull-left"/>
        <h4 class="list-group-item-heading">Ivan Nosov</h4>

        <p class="list-group-item-text">Developer</p>
      </a>
      <a class="list-group-item" href="/contacts/ftBZ9u64tAgq">
        <img src="http://bootcards.herokuapp.com/images/Evelyn%20Dwyer.jpg" class="img-rounded pull-left"/>
        <h4 class="list-group-item-heading">Svetlana Savchenko</h4>

        <p class="list-group-item-text">Developer</p>
      </a>
    </div>
  </div>
</div>
